img {
	border: 2px solid black;
}

h1 {
	color: purple;
}

h2 {
	border-bottom: 1px solid black;
}


li {
	list-style-type: square;		
}

a.Google {
	color: red;
}

body { 
    background-image: URL ("2015designpic.jpg");
}